html, body{
	margin: 0;
	padding: 0;
}
.container
{
	margin: 0 auto;
	width: 1000px;
}

.header
{
	background-color: #00BFFF;
}
.nav a
{
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
}

li a{
	width: 60px;
}
.jumbotron{
	height: 800px;
	background-image: url(https://images.unsplash.com/photo-1502082553048-f009c37129b9?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=niko-soikkeli-333391.jpg&s=7853fbfe573d5e06bae95d97c34ba102);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;
}
.jumbotron h1 {
	letter-spacing: 1.5px;
}
.list-inline{
	margin: 0;
	padding: 20px 0;
	margin-right: 20px; 
}
.lsit-inline li {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 12px;
}
.main{
	position: relative;
	top: 180px;
	text-align: center;

}
.main h1{
	color: #ffffff;
	font-size: 60px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.btn-main{
	background-color: #008B8B;
	color: #fff;
	font-family: 'Courier', sans-serif;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1.5px;
	padding: 16px 35px;
	text-decoration: none;
	text-transform: uppercase;
}
.supporting {
	padding-top: 80px;
	padding-bottom: 100px;
}
.supporting .col{
	float: left;
	width: 33%;
	font-family: 'Raleway';
	text-align: center;
}
.supporting img{
	height: 32px;
}
col
{
	display: inline;
}

.supporting h2{
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.supporting p{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 30px;
	padding: 0 50px;
}
.supporting a{
	text-decoration: none;
	text-transform: uppercase;
	color: #333333;
	border: 1px solid #333333;
	padding: 8px 35px 8px 35px;
	font-size: 11px;
}
.clearfix {
	clear: both;
}
.footer{
	background-color: #00BFFF;
	color: #fff;
	padding: 18px 0; 
}
.footer p{
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}





